.font-table-row {
	font-weight: bold !important;
	font-size: 18px !important;
}

.font-size-system {
	font-size: 18px !important;
}

.font-label-trans {
	color: #979A9B !important;
	font-size: 20 !important;
	font-family: 'Regular' !important;
}

.font-label-detail {
	color: #979A9B;
	font-size: 16;
	font-weight: bold;
}

.custom-datepicker {
	background: #176E98;
    border: 2px;
    border-radius: 5px;
}

.custom-symbol {
	text-align: center !important;
	font-weight: bold !important;
	font-size: 20px !important;
	color: #176E98 !important;
}

.custom-button-warning {
	color: white !important;
    background: #FFB266 !important;
	font-size: 18 !important;
	width: 120px;
}

.custom-button-secondary {
	color: white !important;
    background: #6F9589 !important;
	font-size: 18 !important;
	width: 120px;
}

.custom-button-primary {
	color: white !important;
    background: #176E98 !important;
	font-size: 18 !important;
	width: 120px;
}

.card-debt {
	border-radius: 10px !important;
	margin-bottom: 10px !important;
}

.custom-color-green {
	color: #008000 !important;
	font-size: 18 !important;
}

.custom-color-orange {
	color: #C46C12 !important;
	font-weight: bold !important;
}

.text-content-center {
	display: flex;
    justify-content: center;
}
