.footer {
    box-shadow: 0 -3px 5px -3px rgb(0 0 0 / 15%);
    z-index: 101;
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
    color: #888;
    font-weight: 500;
    background: #fff;
    height: 45px;
    line-height: 45px;
    display: block;
}